.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    .text {
        display: flex;
        align-items: center;
        p:nth-child(2) {
            color: #f00;
        }
    }
    .normal {
        display: flex;
        align-items: center;
        margin-top: 10px;
        p:nth-child(2) {
            width: 100px;
            height: 32px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border: 1px solid #ccc;
        }
    }
    .style1 {
        display: flex;
        align-items: center;
        margin-top: 10px;
        p:nth-child(2) {
            width: 100px;
            height: 32px;
            border: 1px solid #ccc;
        }
    }
    .style2 {
        display: flex;
        align-items: center;
        margin-top: 10px;
        p:nth-child(2) {
            width: 70px;
            height: 32px;
            border: 1px solid #ccc;
        }
    }
    .style3 {
        display: flex;
        align-items: center;
        margin-top: 10px;
        p:nth-child(2) {
            width: 40px;
            height: 32px;
            border: 1px solid #ccc;
        }
    }
}
