.buttonWrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &.isDisabled {
        .buttonItem {
            color: #00000040;
            background-color: #f5f5f5;
            border-color: #d9d9d9;
            cursor: not-allowed;

        }

        .isChecked {
            color: #00000040;
            background-color: #e6e6e6;
            border-color: #d9d9d9;
            box-shadow: none;
            &:first-child{
                border-left-color: #e6e6e6; 
            }
        }

    }

    .buttonItem {
        line-height: 1;
        font-weight: 500;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        background: #fff;
        border: 1px solid #dcdfe6;
        border-left: 0;
        color: #606266;
        -webkit-appearance: none;
        text-align: center;
        box-sizing: border-box;
        outline: none;
        margin: 0;
        transition: all .3s cubic-bezier(.645, .045, .355, 1);
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        padding: 8px 20px;
        font-size: 14px;
        border-radius: 0;
    }

    .buttonItem:first-child {
        border-left: 1px solid #dcdfe6;
    }

    .isChecked {
        color: #fff;
        background-color: #409eff;
        border-color: #409eff;
        box-shadow: -1px 0 0 0 #8cc5ff;
    }

    .isChecked:first-child {
        border-left-color: #409eff;
    }
}

.small {
    height: 24px;

    .buttonItem {
        padding: 4px 16px;
    }
}

.default {
    height: 30px;

    .buttonItem {
        padding: 7px 20px;
    }
}

.large {
    height: 40px;

    .buttonItem {
        padding: 12px 24px;
    }
}